<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">

    <title>통합공사관리 pjt - Java Source Generator v0.1</title>
</head>
<body>
<div class="p-3 mb-2 bg-dark text-white">
    <h4><strong>통합공사관리 pjt - Java Source Generator v0.1</strong></h4>
</div>

<div class="container-fluid themed-container">
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Settings</button>
        <button id="exportButton" type="button" class="btn btn-primary">파일 내보내기</button>
    </div>
    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="nav-vo-tab" data-toggle="tab" role="tab" href="#nav-vo"
               aria-controls="nav-vo" aria-selected="true"><strong>Vo</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-mapper-tab" data-toggle="tab" role="tab" href="#nav-mapper"
               aria-controls="nav-mapper" aria-selected="false"><strong>Mapper</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-service-tab" data-toggle="tab" role="tab" href="#nav-service"
               aria-controls="nav-service" aria-selected="false"><strong>Service</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-serviceimpl-tab" data-toggle="tab" role="tab" href="#nav-serviceimpl"
               aria-controls="nav-serviceimpl" aria-selected="false"><strong>Service(Impl)</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-controller-tab" data-toggle="tab" role="tab" href="#nav-controller"
               aria-controls="nav-controller" aria-selected="false"><strong>Controller</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-mapperxml-tab" data-toggle="tab" role="tab" href="#nav-mapperxml"
               aria-controls="nav-mapperxml" aria-selected="false"><strong>Mapper(xml)</strong></a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-vo" role="tabpanel" aria-labelledby="nav-vo-tab"></div>
        <div class="tab-pane fade" id="nav-mapper" role="tabpanel" aria-labelledby="nav-mapper-tab"></div>
        <div class="tab-pane fade" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab"></div>
        <div class="tab-pane fade" id="nav-serviceimpl" role="tabpanel" aria-labelledby="nav-serviceimpl-tab"></div>
        <div class="tab-pane fade" id="nav-controller" role="tabpanel" aria-labelledby="nav-controller-tab"></div>
        <div class="tab-pane fade" id="nav-mapperxml" role="tabpanel" aria-labelledby="nav-mapperxml-tab"></div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="needs-validation" novalidate action="javascript:run();">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>업무구분</label>
                            <select id="workType" class="form-control form-control-sm">
                                <option value="">--선택--</option>
                                <option value="standard">기준정보</option>
                                <option value="budget">예산</option>
                                <option value="estimate">예정가</option>
                                <option value="contract">계약</option>
                                <option value="work">시공</option>
                                <option value="invoice">정산</option>
                                <option value="common">공통</option>
                                <option value="admin">공통(ADMIN)</option>
                                <option value="direct">직접입력</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>업무구분(code)</label>
                            <input type="text" class="form-control form-control-sm" id="workTypeCode" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>기능구분(sub package명)</label>
                        <input type="text" class="form-control form-control-sm" id="workSubType"
                               placeholder="ex> stdContract">
                    </div>
                    <div class="form-group">
                        <label>Package path( com.sds.portal.업무구분.기능구분)</label>
                        <input type="text" class="form-control form-control-sm" id="packageName" disabled placeholder=""
                               required value="com.sds.portal">
                    </div>
                    <div class="form-group">
                        <label>DB 테이블명</label>
                        <input type="text" class="form-control form-control-sm" id="tableName"
                               placeholder="ex> tn_con_std_contract"
                               required>
                    </div>
                    <div class="form-group">
                        <label>File Name(prefix)</label>
                        <input type="text" class="form-control form-control-sm" id="filePrefix"
                               placeholder="ex> prefix가 Test면 TestVO, TestMapper, TestService, TestController" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>url-group path(영문소문자,-)</label>
                            <input type="text" class="form-control form-control-sm" id="apiGroupPath" required
                                   placeholder="ex> /con">
                        </div>
                        <div class="form-group col-md-6">
                            <label>url-path(영문소문자,-)</label>
                            <input type="text" class="form-control form-control-sm" id="apiPath" required
                                   placeholder="ex> /std-contract">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>주석-업무명(한글)</label>
                            <input type="text" class="form-control form-control-sm" id="workName" required
                                   placeholder="ex> 표준계약서">
                        </div>
                        <div class="form-group col-md-6">
                            <label>주석-작성자(knox Id)</label>
                            <input type="text" class="form-control form-control-sm" id="author" required
                                   placeholder="ex> hyun9.kim">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Path to save</label>
                        <input type="text" class="form-control form-control-sm" id="savePath">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="initButton" type="button" class="btn btn-primary">초기화</button>
                    <button id="runButton" type="submit" class="btn btn-primary">실행</button>
                </div>
            </div>
        </form>
    </div>
</div>

.
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="jquery-3.4.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="highlight.min.js"></script>
<script>

    var BASE_PACKAGE = 'com.sds.portal.';

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        //TEST
        // $('#tableName').val('account');
        // $('#filePrefix').val('Test');
        // $('#apiGroupPath').val('/group');
        // $('#apiPath').val('/work');
    })();

    $(document).ready(function () {
        $('#workType').val(localStorage.getItem("sourceGenerator.workType"));
        $('#workSubType').val(localStorage.getItem("sourceGenerator.workSubType"));
        $('#tableName').val(localStorage.getItem("sourceGenerator.tableName"));
        $('#filePrefix').val(localStorage.getItem("sourceGenerator.filePrefix"));
        $('#packageName').val(localStorage.getItem("sourceGenerator.packageName"));
        $('#apiGroupPath').val(localStorage.getItem("sourceGenerator.apiGroupPath"));
        $('#apiPath').val(localStorage.getItem("sourceGenerator.apiPath"));
        $('#workName').val(localStorage.getItem("sourceGenerator.workName"));
        $('#author').val(localStorage.getItem("sourceGenerator.author"));
        $('#savePath').val(localStorage.getItem("sourceGenerator.savePath"));


        $(workType).click();
    });

    $('#workType').click(function () {
        if (this.value == 'direct') {
            $('#workTypeCode').val('');
            $('#workTypeCode').prop('disabled', false);
            $('#packageName').val(BASE_PACKAGE);
        } else {
            $('#workTypeCode').val(this.value);
            $('#workTypeCode').prop('disabled', true);
            $('#packageName').val(BASE_PACKAGE + this.value + '.' + $('#workSubType').val());
        }
    });

    $('#workTypeCode').keyup(function () {
        $('#packageName').val(BASE_PACKAGE + this.value);
    });

    $('#workSubType').keyup(function () {
        $('#packageName').val(BASE_PACKAGE + $('#workTypeCode').val() + '.' + this.value);
    });

    $('#exportButton').click(function () {
        exportFile();
    });

    $('#initButton').click(function(){
        if(!confirm("입력값을 초기화하시겠습니까?")){
            return;
        }

        $('input').val('');
        $('select').val('');
        localStorage.removeItem("sourceGenerator.workType");
        localStorage.removeItem("sourceGenerator.workSubType");
        localStorage.removeItem("sourceGenerator.tableName");
        localStorage.removeItem("sourceGenerator.filePrefix");
        localStorage.removeItem("sourceGenerator.packageName");
        localStorage.removeItem("sourceGenerator.apiGroupPath");
        localStorage.removeItem("sourceGenerator.apiPath");
        localStorage.removeItem("sourceGenerator.workName");

    });

    function run() {
        $.ajax({
            url: "/generate", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
            contentType: 'application/json',
            data: JSON.stringify({
                workType: $('#workType').val(),
                workSubType: $('#workSubType').val(),
                tableName: $('#tableName').val(),
                filePrefix: $('#filePrefix').val(),
                packageName: $('#packageName').val(),
                apiGroupPath: $('#apiGroupPath').val(),
                apiPath: $('#apiPath').val(),
                workName: $('#workName').val(),
                author: $('#author').val(),
                savePath : $('#savePath').val()

            }),
            method: "POST", // HTTP 요청 메소드(GET, POST 등)
            dataType: "json" // 서버에서 보내줄 데이터의 타입 })
        })
            .done(function (json) {
                if (json.voCode) {
                    $('#nav-vo').html('<pre><code class="java">' + json.voCode + '</code></pre>');
                }
                if (json.serviceCode) {
                    $('#nav-service').html('<pre><code class="java">' + json.serviceCode + '</code></pre>');
                }
                if (json.mapperCode) {
                    $('#nav-mapper').html('<pre><code class="java">' + json.mapperCode + '</code></pre>');
                }
                if (json.mapperXmlCode) {
                    $('#nav-mapperxml').html('<pre><code class="sql">' + json.mapperXmlCode + '</code></pre>');
                }
                if (json.serviceImplCode) {
                    $('#nav-serviceimpl').html('<pre><code class="java">' + json.serviceImplCode + '</code></pre>');
                }
                if (json.controllerCode) {
                    $('#nav-controller').html('<pre><code class="java">' + json.controllerCode + '</code></pre>');
                }

                $('pre code').each(function (i, block) {
                    hljs.highlightBlock(block);
                });

                localStorage.setItem("sourceGenerator.workType", $('#workType').val());
                localStorage.setItem("sourceGenerator.workSubType", $('#workSubType').val());
                localStorage.setItem("sourceGenerator.tableName", $('#tableName').val());
                localStorage.setItem("sourceGenerator.filePrefix", $('#filePrefix').val());
                localStorage.setItem("sourceGenerator.packageName", $('#packageName').val());
                localStorage.setItem("sourceGenerator.apiGroupPath", $('#apiGroupPath').val());
                localStorage.setItem("sourceGenerator.apiPath", $('#apiPath').val());
                localStorage.setItem("sourceGenerator.workName", $('#workName').val());
                localStorage.setItem("sourceGenerator.author", $('#author').val());
                localStorage.setItem("sourceGenerator.savePath", $('#savePath').val());

            })
            .fail(function (xhr, status, errorThrown) {

            })
    }

    function exportFile() {
        $.ajax({
            url: "/export", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
            contentType: 'application/json',
            data: JSON.stringify({
                workType: $('#workType').val(),
                tableName: $('#tableName').val(),
                filePrefix: $('#filePrefix').val(),
                packageName: $('#packageName').val(),
                apiGroupPath: $('#apiGroupPath').val(),
                apiPath: $('#apiPath').val(),
                workName: $('#workName').val(),
                author: $('#author').val(),
                savePath : $('#savePath').val()
            }),
            method: "POST", // HTTP 요청 메소드(GET, POST 등)
            dataType: "json" // 서버에서 보내줄 데이터의 타입 })
        })
            .done(function (json) {
                alert(json.message);
            })
            .fail(function (xhr, status, errorThrown) {
                console.log(xhr);
                console.log(status);
            })
    }

</script>
</body>
</html>